@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

.wrapper {
    margin: auto;
    width: 50%;
    text-align: center;
}
#submit_button {
  padding-top: 5px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 5px;
  margin-top: 20px;
  background-color: #F78733;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  color: #ffffff;
  border-style: none;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

div div p {
  font-size: 30px;
}