<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Opret varer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/9fc9fda4e4.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <style>
            .navbar-custom {
                background-color: #4ABDAC;
            }

            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text, .nav-link {
                color: #ffffff;
            }
        </style>
        <link rel="stylesheet" href="../static/create.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">TooMuch</a>
              <form class="d-flex">
                <a class="nav-link" href="/">Forside</a>
                <a class="nav-link" href="/create">Opret</a>
                <a class="nav-link" href="/profile">Profil</a>
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
                <a class="nav-link" href="/shop">Butik</a>
                <a class="nav-link" href="/logout">Log ud</a>
                <a class="nav-link" href="/info">Info</a>
              </form>
            </div>
          </nav>
        <form method="post" action="/create" enctype="multipart/form-data">
            <div class="inputfields">
                <label id="beskrivelse" for"beskrivelse">Beskrivelse af varer:</label><br>
                <input type="text" id="beskrivelseinput" name="beskrivelse" placeholder="">
                <br>
                <label id="udløbsdato" for"udløbsdato">Udløbsdato:</label><br>
                <input type="text" id="udløbsdatoinput" name="udløbsdato" placeholder="">
                <br>
                <label id="lokation" for"lokation">lokation:</label><br>
                <input type="text" id="lokationinput" name="lokation" placeholder="">
                <br>
                <input id="submit_button" type="submit" value="Opret">
                <p>Du får 10 point</p>
                
            </div>
            <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Custom Upload
            </label>
            <input id="file-upload" type="file"/>
            <br>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="" async defer></script>
    </body>
</html>