<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TooMuch - Info</title>
        <meta name="description" content="">
        <link rel="icon" type="image/png" href="../static/images/favicon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <style>
            .navbar-custom {
                background-color: #4ABDAC;
            }

            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text, .nav-link {
                color: #ffffff;
            }
        </style>
        <link rel="stylesheet" href="../static/gavekort.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">TooMuch</a>
              <form class="d-flex">
                <a class="nav-link" href="/">Forside</a>
                <a class="nav-link" href="/create">Opret</a>
                <a class="nav-link" href="/profile">Profil</a>
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
                <a class="nav-link" href="/shop">Butik</a>
                <a class="nav-link" href="/logout">Log ud</a>
                <a class="nav-link" href="/info">Info</a>
              </form>
            </div>
          </nav>
          <p>Verdensmål nummer 12 handler om hvordan vi kan formindske vores fodaftryk på naturen. En måde vi kan formindske vores aftryk, er ved at ændre den måde vi producere og forbruger vores vare og ressourcer.</p>
          <p>Landbrug er lige nu den største forbruger af vand på verdensplan. 70% af alt det vand det ferskvand som er beregnet til at være, til menneskeligt brug bliver lige nu brugt til kunstig vanding til landbruget.</p>
          <p>Et af de vigtige delmål inden for dette verdensmål er at der skal være en mere effektiv styring af verdens fælles naturressourcer og den måde hvor på vi håndtere vores giftige affald og forurenede stoffer.</p>
          <p>Et af de andre vigtige delmål er at vi inden 2030 skal formindske det globale madspild med 50% både på detail og forbrugerniveau. Derud over så skal fødevaretabet i produktions- og forsyningskæder, herunder tabet af afgrøder ved høst reduceres.</p>
          <p>Hvis man gerne vil lære mere om hvad målene er for verdensmål nr. 12 eller nogle af de andre verdensmål så kan man finde mere viden omkring det på:</p>
          <p><a href="https://www.verdensmaalene.dk/">Verdensmaalene.dk</a></p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="" async defer></script>
    </body>
</html>