<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Opret varer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <style>
            .navbar-custom {
                background-color: #4ABDAC;
            }

            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text, .nav-link {
                color: #ffffff;
            }
        </style>
        <link rel="stylesheet" href="../static/profile.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <script>
            function validateForm() {
            var x = document.forms["information"]["navn"].value;
            if (x==null || x=="") {
                alert("Navn must be filled out");
                return false;
            }
            var x = document.forms["information"]["adresse"].value;
            if (x==null || x=="") {
                alert("Adresse must be filled out");
                return false;
            }
            var x = document.forms["information"]["nummer"].value;
            if (x==null || x=="") {
                alert("Nummer must be filled out");
                return false;
            }
            }
    
            </script>
    </head>
    <body>
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">TooMuch</a>
              <form class="d-flex">
                <a class="nav-link" href="/">Forside</a>
                <a class="nav-link" href="/create">Opret</a>
                <a class="nav-link" href="/profile">Profil</a>
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
                <a class="nav-link" href="/shop">Butik</a>
                <a class="nav-link" href="/logout">Log ud</a>
                <a class="nav-link" href="/info">Info</a>
                
              </form>
            </div>
          </nav>
        <div class="wrapper">
        <img src="../static/images/profilepicture.png" width="170,6" height="170,6">
        <div class="your_points">
            <h2>{{ personalInformation[0][1] }}</h2>
            <p>Dine point</p>
            <p>{{ personalInformation[0][4] }}</p>
        </div>

        <div class="personal_informations">
            <form name="information" method="post" action="/profile" onsubmit="return validateForm()" target="_self" enctype="multipart/form-data">
                <label id="navn" for"navn">Navn</label><br>
                <input type="text" id="navn" name="navn" placeholder="{{ personalInformation[0][1] }}">
                <br>
                <label id="adresse" for"adresse">Adresse</label><br>
                <input type="text" id="adresse" name="adresse" placeholder="{{ personalInformation[0][2] }}">
                <br>
                <label id="nummer" for"nummer">Mobilnummer</label><br>
                <input type="text" id="nummer" name="nummer" placeholder="{{ personalInformation[0][3] }}">
                <br>
                <input id="submit_button" type="submit" value="Gem">
            </form>

        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="" async defer></script>
    </body>
</html>